<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Blog" />
    <link rel="stylesheet" href="/css/main.css" />
    <title>Uday Rana</title>
  </head>

  <body class="min-h-screen">
    <div class="navbar">
      <div class="flex-1">
        <a class="btn btn-ghost normal-case text-xl" href="/">Uday Rana</a>
      </div>
      <!-- Dropdown for small screens -->
      <div class="navbar-end md:hidden">
        <ul class="menu menu-horizontal px-1">
          <li>
            <details class="dropdown dropdown-end">
              <summary>Menu</summary>
              <ul class="dropdown-content z-[1] p-2 shadow menu rounded-box w-40">
                <li>{{#navLink "/blog"}}Blog{{/navLink}}</li>
                <li>{{#navLink "/about"}}About{{/navLink}}</li>
                <div class="divider my-0"></div>
                {{#if session.user}}
                <li>{{#navLink "/posts"}}Posts{{/navLink}}</li>
                <li>{{#navLink "/categories"}}Categories{{/navLink}}</li>
                <li>
                  <details class="dropdown dropdown-end">
                    <summary>{{session.user.userName}}</summary>
                    <ul>
                      <li>{{#navLink "/loginHistory"}}Login History{{/navLink}}</li>
                      <li>{{#navLink "/logout"}}Log Out{{/navLink}}</li>
                    </ul>
                  </details>
                </li>
                {{else}}
                  <li>{{#navLink "/register"}}Register{{/navLink}}</li>
                  <li>{{#navLink "/login"}}Login{{/navLink}}</li>
                {{/if}}
              </ul>
            </details>
          </li>
        </ul>
      </div>

      <!-- Horizontal menu for larger screens -->
      <div class="navbar-end w-full hidden md:flex">
        <ul class="menu menu-horizontal">
          <li class="mx-1">{{#navLink "/blog"}}Blog{{/navLink}}</li>
          <li class="mx-1">{{#navLink "/about"}}About{{/navLink}}</li>
          <div class="divider divider-horizontal mx-0"></div>
          {{#if session.user}}
          <li class="mx-1">{{#navLink "/posts"}}Posts{{/navLink}}</li>
          <li class="mx-1">{{#navLink "/categories"}}Categories{{/navLink}}</li>
          <li class="mx-1">
            <details class="dropdown dropdown-end">
              <summary>{{session.user.userName}}</summary>
              <ul class="dropdown-content z-[1] p-2 shadow menu rounded-box">
                <li>{{#navLink "/loginHistory"}}Login History{{/navLink}}</li>
                <li>{{#navLink "/logout"}}Log Out{{/navLink}}</li>
              </ul>
            </details>
          </li>
          {{else}}
          <li class="mx-1">{{#navLink "/register"}}Register{{/navLink}}</li>
          <li class="mx-1">{{#navLink "/login"}}Login{{/navLink}}</li>
          {{/if}}
        </ul>
      </div>
    </div>
    <div class="container p-5">
      {{{body}}}
    </div>
    <footer class="footer sticky top-[100vh] p-10 bg-neutral text-neutral-content">
      <div><p1>Made by Uday Rana</p></div>
    </footer>
    <script src="/js/theme.js"></script>
  </body>

</html>