<div class="row">
	<div class="col-md card">
		<div class="card-body">
			<h1 class="card-title">Categories<a href="/categories/add" class="btn btn-success float-end">Add Category</a></h1>
			<div class="table-responsive">
				<table class="table">
					<thead>
						<th scope="col">Category ID</th>
						<th scope="col">Category Name</th>
						<th></th>
					</thead>
					<tbody>
						{{#each data}}
							<tr>
								<td>{{dataValues.id}}</td>
								<td><a href="/blog?category={{dataValues.id}}" class="text-decoration-none">{{dataValues.category}}</a></td>
								<td><a href="/categories/delete/{{dataValues.id}}" class="btn btn-danger float-end">Remove</a></td>
							</tr>
						{{/each}}
					</tbody>
				</table>
			</div>
			{{#unless data}}
				<div class="col-md text-center">
					{{message}}
				</div>
			{{/unless}}
		</div>
	</div>
</div>