<div class="prose mx-auto">
  <div>
    <h1>Categories</h1>
    <a href="/categories/add"><button class="btn btn-success">Add Category</button></a>
    <div class="overflow-x-auto">
      <table class="table">
        <thead>
          <th scope="col">Category ID</th>
          <th scope="col">Category Name</th>
          <th></th>
        </thead>
        <tbody>
          {{#each data}}
            <tr>
              <td>{{dataValues.id}}</td>
              <td><a
                  href="/blog?category={{dataValues.id}}"
                >{{dataValues.category}}</a></td>
              <td><a href="/categories/delete/{{dataValues.id}}"><button class="btn btn-error">Remove</button></a></td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
    {{#unless data}}
      <div>
        {{message}}
      </div>
    {{/unless}}
  </div>
</div>