<div class="mx-auto prose sm:min-w-max">
  <h1>Posts</h1>
    {{#if error}}
      <div class="alert alert-error mb-4">
        <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" /></svg>
        <span>{{error}}</span>
      </div>
    {{/if}}
  <a href="/posts/add"><button class="btn btn-success">Create Post</button></a>
  <div class="overflow-x-auto">
    <table class="table">
      <thead>
        <th scope="col">Post ID</th>
        <th scope="col">Title</th>
        <th scope="col">Post Date</th>
        <th scope="col">Category</th>
        <th scope="col">Published</th>
        <th></th>
      </thead>
      <tbody>
        {{#each data}}
          <tr>
            <td>{{id}}</td>
            <td><a href="/blog/{{id}}">{{title}}</a></td>
            <td>{{#formatDate postDate}}{{/formatDate}}</td>
            <td><a
                href="/posts?category={{categoryId}}"
              >{{category.name}}</a></td>
            <td>{{published}}</td>
            <td><a href="/posts/edit/{{id}}"><button class="btn btn-info">Edit</button></a></td>
            <td><a href="/posts/delete/{{id}}"><button class="btn btn-error">Delete</button></a></td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
  {{#unless data}}
    <div>
      {{message}}
    </div>
  {{/unless}}
</div>